@model List<MovieModel>
@{
    ViewData["title"] = "Admin";
}

<h3 class="text-center">Film Ekle</h3>
<hr />

<form class="row g-3" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label" for="Name">Film Adı</label>
        <input required type="text" class="form-control" id="Name" name="Name" placeholder="Film adını giriniz" autocomplete="off">
    </div>
    <div class="mb-3">
        <label class="form-label" for="Imdb">Film Puanı (IMDB)</label>
        <input required type="number" step="0.1" class="form-control" id="Imdb" name="Imdb" min="1" max="5" placeholder="Film puanını giriniz (1-5 arası)" autocomplete="off">
    </div>
    <div class="mb-3">
        <label class="form-label" for="Actors">Film Oyuncuları</label>
        <input required type="text" class="form-control" id="Actors" name="Actors" placeholder="Başlıca oyuncuları giriniz" autocomplete="off">
    </div>
    <div class="mb-3">
        <label class="form-label" for="Director">Film Yönetmeni</label>
        <input required type="text" class="form-control" id="Director" name="Director" placeholder="Yönetmen adını giriniz" autocomplete="off">
    </div>
    <div class="mb-3">
        <label class="form-label" for="Year">Film Yılı</label>
        <input required type="number" class="form-control" id="Year" name="Year" placeholder="Film yılı (ör. 2023)" autocomplete="off">
    </div>
    <div class="mb-3">
        <label class="form-label" for="CategoryId">Kategori</label>
        <select required class="form-control" id="CategoryId" name="CategoryId">
            <option value="1">Aksiyon</option>
            <option value="3">Macera</option>
            <option value="5">Komedi</option>
            <option value="6">Korku</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="Summary">Film Konusu</label>
        <textarea required class="form-control" id="Summary" name="Summary" rows="3" placeholder="Film konusunu giriniz" autocomplete="off"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label" for="AdminComment">Site Eleştirisi</label>
        <textarea required class="form-control" id="AdminComment" name="AdminComment" rows="3" placeholder="Site eleştirisini yazınız"></textarea>
    </div>
    <div class="mb-3">
        <label for="ImgFile" class="form-label">Görsel Ekle</label>
        <input type="file" name="ImgFile" class="form-control-file" id="ImgFile" accept="image/*">
    </div>
    <div class="text-center mt-3">
        <button type="submit" class="btn btn-success">Ekle</button>
    </div>
</form>
