<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Film Gezegeni</title>
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link href="/css/global.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>

	

	<section id="contact" class="pt-4 pb-4 bg_grey">
		<div class="container-xl">
			<div class="row contact_1 bg_dark  pt-5 pb-5">
				<div class="col-md-3">
					<div class="contact_1i row">
						<div class="col-md-2 col-2">
							<div class="contact_1il">
								<span class="col_red fs-3"><i class="fa fa-map-marker"></i></span>
							</div>
						</div>
						<div class="col-md-10 col-10">
							<div class="contact_1ir">
								<h5 class="col_red">Adres</h5>
								<p class="mb-0">Maslak Mahallesi, Taşyoncası Sokak, No: 1V ve No:1Y Bina Kodu: 34481742, 34398 Sarıyer/İstanbul</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="contact_1i row">
						<div class="col-md-2 col-2">
							<div class="contact_1il">
								<span class="col_red fs-3"><i class="fa fa-clock-o"></i></span>
							</div>
						</div>
						<div class="col-md-10 col-10">
							<div class="contact_1ir">
								<h5 class="col_red">Çalışma Saatlerimiz</h5>
								<p class="mb-0">Pazartesi - Cuma / 10.00 - 19.00</p>
								<p class="mb-0">Cumartesi - Pazar / Kapalı</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="contact_1i row">
						<div class="col-md-2 col-2">
							<div class="contact_1il">
								<span class="col_red fs-3"><i class="fa fa-envelope"></i></span>
							</div>
						</div>
						<div class="col-md-10 col-10">
							<div class="contact_1ir">
								<h5 class="col_red">E-mail</h5>
								<p class="mb-0">rabiiaoztturkk@gmail.com</p>
								<p class="mb-0">polatturr52@gmail.com</p>
								<p class="mb-0">melisamrkl1@gmail.com</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="contact_1i row">
						<div class="col-md-2 col-2">
							<div class="contact_1il">
								<span class="col_red fs-3"><i class="fa fa-phone"></i></span>
							</div>
						</div>
						<div class="col-md-10 col-10">
							<div class="contact_1ir">
								<h5 class="col_red">Telefon</h5>
								<p class="mb-0">+123 123 456</p>
								<p class="mb-0">+123 123 456</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row contact_2 mt-4">
				<!-- <div class="col-md-3">
				<div class="contact_2r">
				 <h5 class="mb-3">LONDON OFFICE</h5>
				 <p><i class="fa fa-car col_red me-1"></i> 111 Queen Sv, WIC 1, India</p>
				 <p><i class="fa fa-phone col_red me-1"></i> +123 123 456</p>
				  <p><i class="fa fa-globe col_red me-1"></i> <a href="#">info@gmail.com</a></p>
				   <p><i class="fa fa-envelope col_red me-1"></i> <a href="#">info@gmail.com</a></p>
				   <h5 class="mb-3 mt-4">BUSINESS HOURS</h5>
				   <p>Hotline is available for 24 hours a day!..</p>
				   <p>Monday – Friday : <span class="fw-bold text-white">9am to 7pm</span></p>
				   <p>Saturday : <span class="fw-bold text-white">11am to 3pm</span></p>
				   <p>Sunday : <span class="fw-bold text-white">Closed</span></p>
				</div>
				</div> -->
				<div class="col-md-9">
					<div class="contact_2l row">
						<div class="col-md-12">
							<h4>İLETİŞİME GEÇİN</h4>
						</div>
					</div>
					<div class="contact_2l1 mt-3 row">
						<div class="col-md-6">
							<div class="contact_2l1i">
								<input class="form-control" placeholder="Adınız*" type="text">
							</div>
						</div>
						<div class="col-md-6">
							<div class="contact_2l1i">
								<input class="form-control" placeholder="Soyadınız*" type="text">
							</div>
						</div>

					</div>
					<div class="contact_2l1 mt-3 row">
						<div class="col-md-6">
							<div class="contact_2l1i">
								<input class="form-control" placeholder="Mesaj Konusu*" type="text">
							</div>
						</div>
						<div class="col-md-6">
							<div class="contact_2l1i">
								<input class="form-control" placeholder="Email*" type="email">
							</div>
						</div>

					</div>
					<div class="contact_2l1 mt-3 row">
						<div class="col-md-12">
							<div class="contact_2l1i">
								<textarea placeholder="Mesajınız" class="form-control form_text"></textarea>
								<h6 class="mt-3 mb-0"><a class="button" href="#"> Gönder</a></h6>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row contact_3 mt-4">
				<div class="col-md-12">
					<iframe src="https://www.google.com/maps/place//data=!4m2!3m1!1s0x14cab728fc42dd33:0x17d213078fb809f4?sa=X&ved=1t:8290&ictx=111" height="450" style="border:0; width:100%;" allowfullscreen=""></iframe>
				</div>
			</div>
		</div>
	</section>

	<section id="footer">
		<div class="footer_m clearfix">
			<div class="container">
				<div class="row footer_1">
					<div class="col-md-4">
						<div class="footer_1i">
							<h3><a class="text-white" href="index.html"><i class="fa fa-video-camera col_red me-1"></i> Film Gezegeni</a></h3>
							<p class="mt-3"> </p>
							<h6 class="fw-normal"><i class="fa fa-map-marker fs-5 align-middle col_red me-1"></i> Maslak Mahallesi, Taşyoncası Sokak, No: 1V ve No:1Y Bina Kodu: 34481742, 34398 Sarıyer/İstanbul</h6>
							<h6 class="fw-normal mt-3"><i class="fa fa-envelope fs-5 align-middle col_red me-1"></i></h6>
							<p class="mb-0">rabiiaoztturkk@gmail.com</p>
							<p class="mb-0">polatturr52@gmail.com</p>
							<p class="mb-0">melisamrkl1@gmail.com</p>

						</div>
					</div>
					<div class="col-md-4">
						<div class="footer_1i">
							<h4>Film <span class="col_red">Akışı</span></h4>
							<div class="footer_1i1 row mt-4">
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												<a href="https://www.youtube.com/watch?v=Qais2yDsBBk" target="_blank"><img src="/img/4.jpg" height="70" class="w-100" alt="abc"></a>
											</figure>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												<a href="https://www.youtube.com/watch?v=BE1n8fLuODw" target="_blank"><img src="/img/5.jpg" height="70" class="w-100" alt="abc"></a>
											</figure>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												<a href="https://www.youtube.com/watch?v=2aclhOeXkZI" target="_blank"><img src="/img/6.jpg" height="70" class="w-100" alt="abc"></a>
											</figure>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												<a href="https://www.youtube.com/watch?v=xVbgjwtIWOc" target="_blank"><img src="/img/7.jpg" height="70" class="w-100" alt="abc"></a>
											</figure>
										</div>
									</div>
								</div>
							</div>
							<div class="footer_1i1 row mt-3">
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												<a href="https://www.youtube.com/watch?v=b57d2kj1gUA" target="_blank"><img src="/img/8.jpg" height="70" class="w-100" alt="abc"></a>
											</figure>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												<a href="https://www.youtube.com/watch?v=OLBebob6M0M" target="_blank"><img src="/img/9.jpg" height="70" class="w-100" alt="abc"></a>
											</figure>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												<a href="https://www.youtube.com/watch?v=75esG8nCGfI" target="_blank"><img src="/img/10.jpg" height="70" class="w-100" alt="abc"></a>
											</figure>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												<a href="https://www.youtube.com/watch?v=86JS7FgCCvA" target="_blank"><img src="/img/11.jpg" height="70" class="w-100" alt="abc"></a>
											</figure>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="footer_1i">
							<h4>Bize  <span class="col_red">Ulaşın</span></h4>
							<p class="mt-3">Mail adresinizi bize gönderin en kısa sürede birlikte başarı dolu adımlar atalım.</p>
							<div class="input-group">
								<input type="text" class="form-control bg-black" placeholder="Email">
								<span class="input-group-btn">
									<button class="btn btn text-white bg_red rounded-0 border-0" type="button">
										Gönder
									</button>
								</span>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="footer_b" class="pt-3 pb-3 bg_grey">
		<div class="container">
			<div class="row footer_1">
				<div class="col-md-8">
					<div class="footer_1l">
						<p class="mb-0">© 2024 Film Gezegeni </p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="footer_1r">
						<ul class="mb-0">
							<li class="d-inline-block me-2"><a href="index.cshtml">Anasayfa</a></li>
							<li class="d-inline-block me-2"><a href="about.cshtml">Hakkımızda</a></li>
							<li class="d-inline-block me-2"><a href="team.cshtml">Ekibimiz</a></li>
							<li class="d-inline-block me-2"><a href="contact.cshtml">Bize Ulaşın</a></li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script>
		window.onscroll = function () { myFunction() };

		var navbar_sticky = document.getElementById("navbar_sticky");
		var sticky = navbar_sticky.offsetTop;
		var navbar_height = document.querySelector('.navbar').offsetHeight;

		function myFunction() {
			if (window.pageYOffset >= sticky + navbar_height) {
				navbar_sticky.classList.add("sticky")
				document.body.style.paddingTop = navbar_height + 'px';
			} else {
				navbar_sticky.classList.remove("sticky");
				document.body.style.paddingTop = '0'
			}
		}
	</script>

</body>

</html>