<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Film Gezegeni</title>
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link href="/css/global.css" rel="stylesheet">
	<link href="/css/about.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>


	<section id="team" class="pt-4 pb-4 bg_grey">
		<div class="container-xl">
			<div class="team_1i row">
				<div class="col-md-4">
					<div class="team_1i1 clearfix position-relative">
						<div class="team_1i1i clearfix">
							<div class="grid clearfix">
								<figure class="effect-jazz mb-0">
									<a href="#"><img src=" /img/38.jpg" class="w-100" alt="abc"></a>
								</figure>
							</div>
						</div>
						<div class="team_1i1i1 clearfix position-absolute w-100 bottom-0">
							<h4 class="col_red">Rabia Öztürk</h4>
							<h6>.NET Developer</h6>
							<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Aliquam ut elit venenatis, congue dolor ut, mattis leo</p> -->
							<ul class="social-network social-circle mb-0 mt-3">
								<li><a href="https://www.instagram.com/rabiiaoztturk" target="_blank" class="icoRss" title="Rss"><i class="fa-brands  fa-instagram"></i></a></li>
								<li><a href="https://x.com/rabiiaoztturk" target="_blank" class="icoTwitter" title="Twitter"><i class="fa-brands fa-twitter"></i></a></li>
								<li><a href="https://www.linkedin.com/in/rabia-%C3%B6zt%C3%BCrk-0b016a277/" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa-brands fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="team_1i1 clearfix position-relative">
						<div class="team_1i1i clearfix">
							<div class="grid clearfix">
								<figure class="effect-jazz mb-0">
									<a href="#"><img src="/img/39.jpg " class="w-100" alt="abc"></a>
								</figure>
							</div>
						</div>
						<div class="team_1i1i1 clearfix position-absolute w-100 bottom-0">
							<h4 class="col_red">Melisa Meraklı</h4>
							<h6>.NET Developer</h6>
							<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Aliquam ut elit venenatis, congue dolor ut, mattis leo</p> -->
							<ul class="social-network social-circle mb-0 mt-3">
								<li><a href="https://www.instagram.com/melismeraklii" target="_blank" class="icoRss" title="Rss"><i class="fa-brands fa-instagram"></i></a></li>
								<li><a href="https://x.com/melismeraklii" target="_blank" class="icoTwitter" title="Twitter"><i class="fa-brands fa-twitter"></i></a></li>
								<li><a href="https://www.linkedin.com/in/melisa-merakl%C4%B1-2298b0190/" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa-brands fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="team_1i1 clearfix position-relative">
						<div class="team_1i1i clearfix">
							<div class="grid clearfix">
								<figure class="effect-jazz mb-0">
									<a href="#"><img src="/img/37.jpg" class="w-100" alt="abc"></a>
								</figure>
							</div>
						</div>
						<div class="team_1i1i1 clearfix position-absolute w-100 bottom-0">
							<h4 class="col_red">Polat Türk</h4>
							<h6>.NET Developer</h6>
							<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Aliquam ut elit venenatis, congue dolor ut, mattis leo</p> -->
							<ul class="social-network social-circle mb-0 mt-3">
								<li><a href="https://www.instagram.com/polatturk.1" target="_blank" class="icoRss" title="Rss"><i class="fa-brands fa-instagram"></i></a></li>
								<li><a href="https://x.com/1Polatturk" target="_blank" class="icoTwitter" title="Twitter"><i class="fa-brands fa-twitter"></i></a></li>
								<li><a href="https://www.linkedin.com/in/polatturk/" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa-brands fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>


		</div>
	</section>

	<section id="footer">
		<div class="footer_m clearfix">
			<div class="container">
				<div class="row footer_1">
					<div class="col-md-4">
						<div class="footer_1i">
							<h3><a class="text-white" href="index.html"><i class="fa fa-video-camera col_red me-1"></i> Film Gezegeni</a></h3>
							<p class="mt-3"> </p>
							<h6 class="fw-normal"><i class="fa fa-map-marker fs-5 align-middle col_red me-1"></i> Maslak Mahallesi, Taşyoncası Sokak, No: 1V ve No:1Y Bina Kodu: 34481742, 34398 Sarıyer/İstanbul</h6>
							<h6 class="fw-normal mt-3"><i class="fa fa-envelope fs-5 align-middle col_red me-1"></i></h6>
							<p class="mb-0">rabiiaoztturkk@gmail.com</p>
							<p class="mb-0">polatturr52@gmail.com</p>
							<p class="mb-0">melisamrkl1@gmail.com</p>

						</div>
					</div>
					<div class="col-md-4">
						<div class="footer_1i">
							<h4>Film <span class="col_red">Akışı</span></h4>
							<div class="footer_1i1 row mt-4">
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												<a href="https://www.youtube.com/watch?v=Qais2yDsBBk" target="_blank"><img src="/img/4.jpg" height="70" class="w-100" alt="abc"></a>
											</figure>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												<a href="https://www.youtube.com/watch?v=BE1n8fLuODw" target="_blank"><img src="/img/5.jpg" height="70" class="w-100" alt="abc"></a>
											</figure>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												<a href="https://www.youtube.com/watch?v=2aclhOeXkZI" target="_blank"><img src="/img/6.jpg" height="70" class="w-100" alt="abc"></a>
											</figure>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												<a href="https://www.youtube.com/watch?v=xVbgjwtIWOc" target="_blank"><img src="/img/7.jpg" height="70" class="w-100" alt="abc"></a>
											</figure>
										</div>
									</div>
								</div>
							</div>
							<div class="footer_1i1 row mt-3">
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												<a href="https://www.youtube.com/watch?v=b57d2kj1gUA" target="_blank"><img src="/img/8.jpg" height="70" class="w-100" alt="abc"></a>
											</figure>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												<a href="https://www.youtube.com/watch?v=OLBebob6M0M" target="_blank"><img src="/img/9.jpg" height="70" class="w-100" alt="abc"></a>
											</figure>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												<a href="https://www.youtube.com/watch?v=75esG8nCGfI" target="_blank"><img src="/img/10.jpg" height="70" class="w-100" alt="abc"></a>
											</figure>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-3">
									<div class="footer_1i1i">
										<div class="grid clearfix">
											<figure class="effect-jazz mb-0">
												<a href="https://www.youtube.com/watch?v=86JS7FgCCvA" target="_blank"><img src="/img/11.jpg" height="70" class="w-100" alt="abc"></a>
											</figure>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="footer_1i">
							<h4>Bize  <span class="col_red">Ulaşın</span></h4>
							<p class="mt-3">Mail adresinizi bize gönderin en kısa sürede birlikte başarı dolu adımlar atalım.</p>
							<div class="input-group">
								<input type="text" class="form-control bg-black" placeholder="Email">
								<span class="input-group-btn">
									<button class="btn btn text-white bg_red rounded-0 border-0" type="button">
										Gönder
									</button>
								</span>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="footer_b" class="pt-3 pb-3 bg_grey">
		<div class="container">
			<div class="row footer_1">
				<div class="col-md-8">
					<div class="footer_1l">
						<p class="mb-0">© 2024 Film Gezegeni </p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="footer_1r">
						<ul class="mb-0">
							<li class="d-inline-block me-2"><a href="index.cshtml">Anasayfa</a></li>
							<li class="d-inline-block me-2"><a href="about.cshtml">Hakkımızda</a></li>
							<li class="d-inline-block me-2"><a href="team.cshtml">Ekibimiz</a></li>
							<li class="d-inline-block me-2"><a href="contact.cshtml">Bize Ulaşın</a></li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		window.onscroll = function () { myFunction() };

		var navbar_sticky = document.getElementById("navbar_sticky");
		var sticky = navbar_sticky.offsetTop;
		var navbar_height = document.querySelector('.navbar').offsetHeight;

		function myFunction() {
			if (window.pageYOffset >= sticky + navbar_height) {
				navbar_sticky.classList.add("sticky")
				document.body.style.paddingTop = navbar_height + 'px';
			} else {
				navbar_sticky.classList.remove("sticky");
				document.body.style.paddingTop = '0'
			}
		}
	</script>

</body>

</html>